@font-face {
    font-family: 'Constantia';
    src: local('Constantia'), url('../fonts/Constantia.woff') format('woff');
    src: url('../fonts/Constantia.woff2') format('woff2'),
         url('../fonts/Constantia.ttf') format('ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body{
    font-family: "Constantia", "Open Sans", sans-serif;
    font-size: 17px;
}

/*AOS-----------------------------------------*/


/*Scroll bar-------------------------------------------------*/

/* width */
body::-webkit-scrollbar {
    width: 15px;
}

/* Track */
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ffc000;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #f4b700;
}


/*Go Up-----------------------------------------------*/

.goup{
    display: none;
}

#goupId a{
    color: black;
    font-size: 35px;
    font-weight: 100;
    
}

.goup-active{
    display: block !important;
    position: fixed;
    bottom: 3vh;
    left: 10vw;
    z-index: 10;
    animation: goupAnimation 1.2s ease-out infinite;
}

@keyframes goupAnimation{
    0%{opacity: 1;}
    
    25%{transform: translateY(1vh); opacity: 0.9}
    
    50%{text-shadow: 0px 0px 3px white;}
    
    75%{transform: translateY(-1vh);}
}

/*Click to call--------------------------------------------------*/
#pulsercall{
    font-size: 2em;
    background: #44bd32;
    position: fixed;
    height: 60px;
    width: 60px;
    bottom: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5vw;
    border-radius: 50%;
    z-index: 10;
}

#pulsercall:before{
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border: 1px solid #44bd32;
    border-radius: 50%;
    animation: pulseEffect 1.5s linear infinite;
}

#pulsercall:after{
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border: 1px solid #44bd32;
    border-radius: 50%;
    animation: pulseEffect 1.5s linear infinite;
    animation-delay: 0.7s;
}


@keyframes pulseEffect {
    0%{transform: scale(0.5); opacity: 0;}
    
    50%{transform: scale(1); opacity: 1;}
    
    100%{ transform: scale(1.4); opacity: 0;}
}

#call{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 11;
}



/*Header---------------------------------------------------------*/

#header{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 12;
    display: flex;
    justify-content: center;
    background-color: white;
}

#header-content{
    height: 80px;
    width: 96%;
    background: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: auto;
}

#brand{
    width: 240px;
    height: 80px;
    margin-left: 20px;
    flex-shrink: 0;
}

#brand img{
    width: 100%;
    height: 100%;
}

#header-content nav{
    flex: 1;
    display: flex;
    align-items: stretch;
    margin-left: 10vw;
}

.menuLI{
    display: block;
    flex: 1 0 auto;
    text-align: center;
    font-weight: 700;
    position: relative;
    --subNav: none;
}

.menuLI:hover{
    --subNav: block;
}

.menuLI a{
    display: block;
    line-height: 50px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0px;
}

.menuLI a:hover{
    background-color: #ffc000;
    color: white;
    cursor: pointer;
}

.subnav{
    display: var(--subNav);
    position: fixed;
    top: 80px;
    z-index: 13;
    background: white;
    box-shadow: 3px 2px 2px #444444;
}

.subnav a{
    padding: 15px;
    width: 250px;
    line-height: 1.5em;
    font-size: 0.9em;
}

.menuLI a:hover .subnav {
    display: block;
}

#icon-wrapper{
    display: none;
}

.active-menu{}

.active-header{
    box-shadow: rgb(220, 220, 220) 0px 2px 10px;
}

/*Footer-------------------------------------------------------*/
footer{
    width: 100%;
    margin-top: 50px;
    background: black;
    color: white;
    overflow: hidden;
    padding-top: 30px;
}

#footer-contents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer-contents>div{
    flex: 50%;
    min-width: 350px;
    padding-bottom: 30px
}

#footer-contents>div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#footerLogo{
    margin: 20px 20px;
    margin-top: 0px;
    width: 80%;
    max-width: 300px;
}

footer h6{
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 25px;
    padding-bottom: 50px;
}

footer h4{
    font-size: 1.7em;
}

#contacts>div:nth-child(1){
    text-align: center;
}

#contacts>div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

#contactInfo{
    padding-left: 30px;
    flex: 1;
    line-height: 1.3em;
    min-width: 220px;
}

#socialNet{
    flex: 1;
    margin: 15px 0px;
    min-width: 220px;
    padding-left: 25px;
}

.social{
    margin-left: 10px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.social:hover{
    color: #ffc000;
}

@media only screen and (max-width:970px){
    
    body #menu{
        background: rgba(255, 255, 255, 0.95);
        backdrop-filter: blur(2px);
        position: fixed;
        right: -80vw;
        top: 0;
        width: 80%;
        height: 100%;
        padding-top: 80px;
        transition: 0.5s ease;
        z-index: -1;
        display: block;
        margin-left: 0;
        overflow-x: hidden;
    }

    #menu .menuLI{
        padding: 15px 0px;
        display: block;
        min-width: 120px;
        transition: 0.3s ease;
    }
    
    .subnav{
        display: none;
    }
    
    .menuLI a i{
        display: none;
    }
    
    .active-menu{
        right: 0 !important;
    }
    
    #brand{
        margin-left: 10px;
    }
    
    #icon-wrapper{
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
    
    .icon{
        display: block;
        font-size: 40px;
        color: black;
        padding: 0;
        margin-right: 20px;
    }
    
    .icon:active{
        color: #ffc000;
    }
    
    .icon:hover{
        color: #ffc000;
        cursor: pointer;
    }
    
    /*    Footer--------------------------------------*/
    
    footer h4{
        text-align: left;
        padding-left: 25px;
    }
    
}


@media only screen and (max-width:530px){
    @font-face {
        font-family: 'Rockwell Nova';
        font-style: normal;
        font-weight: normal;
        src: local('Rockwell Nova'), url('../fonts/RockwellNova.woff') format('woff');
    }

    #header{
        height: 60px;
    }
    
    #header-content{
        width: 100%;
        height: 60px;
    }
    
    #brand{
        width: 150px;
        height: 50px;
    }
    
    .icon{
        font-size: 25px;
        padding: 0;
        margin-right: 15px;
    }
    
    .icon:hover{
        color: black;
        cursor: none;
    }
    
    .icon:active{
        color: #ffc000 !important;
    }
    
    
    /*    Footer--------------------------------------------*/
    
    #footer-contents>div:nth-child(1){
        align-items: center;
    }
    
    footer h4{
        text-align: center;
        padding: 0;
        margin-bottom: 20px;
    }
    
    #contacts>div:nth-child(2){
        flex-direction: column;
        align-items: center;
    }
    
    #socialNet{
        margin-top: 30px;
        padding: 0;
    }
    
    .social{
        margin: 5vw;
    }
    
    footer h5{
        line-height: 1.8em;
    }
    
    footer h6{
        text-align: center;
        padding-left: 0;
    }
}